<mat-toolbar class="top-bar">
  <span>My Application</span>
</mat-toolbar>
<mat-card class="card-report-calculate">
  <p class="title">Consultar reportes de un técnico</p>
  <form class="card-form" [formGroup]="calculateForm">
    <div class="row-input">
      <mat-form-field class="input-rep" appearance="fill">
        <mat-label>Id técnico</mat-label>
        <input matInput formControlName="idTechnical">
      </mat-form-field>
      <mat-form-field class="input-rep" appearance="fill">
        <mat-label>Número de semana</mat-label>
        <input matInput formControlName="weekNumber" type="number">
      </mat-form-field>
    </div>
    <button class="button-any" (click)="getReportByTechnicianIdAndWeekNumber()" mat-raised-button [disabled]="!calculateForm.valid">Consultar</button>
  </form>
</mat-card>
