.calendar-rep {
  color: gray;
  text-align: left;
  width: 49%;
  margin-top: 4%;
}

.card-list {
  margin-top: 5%;
  text-align: center;
}

.card-report-list {
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-rep {
  width: 49%;
}

::ng-deep .p-inputtext {
  background-color: rgba(0,0,0,.04);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  &:hover {
    border-bottom: 2px solid;
  }
}

::ng-deep .p-datepicker {
  top: -200px !important;
  position: static !important;
}

.p-dialog {
  text-align: center;
}

.row-input .mat-form-field + .mat-form-field {
  margin-left: 2%;
}
