<h1 mat-dialog-title>Favorite Animal</h1>
<div mat-dialog-content>
    <li>
      <span></span> {{data.regularHour.type}} :
      <span></span> {{data.regularHour.listOfHour[0]}}
    </li>
    <li>
      <span></span> {{data.nightHour.type}} :
      <span></span> {{data.nightHour.listOfHour[0]}}
    </li>
    <li>
      <span></span> {{data.sundayHour.type}} :
      <span></span> {{data.sundayHour.listOfHour[0]}}
    </li>
    <li>
      <span></span> {{data.extraRegularHour.type}} :
      <span></span> {{data.extraRegularHour.listOfHour[0]}}
    </li>
    <li>
      <span></span> {{data.extraNightHour.type}} :
      <span></span> {{data.extraNightHour.listOfHour[0]}}
    </li>
    <li>
      <span></span> {{data.extraSundayHour.type}} :
      <span></span> {{data.extraSundayHour.listOfHour[0]}}
    </li>
</div>
