.top-bar {
  height: 50px;
  background-image: radial-gradient(circle at 94.74% 50%, #b898ff 0, #8b80ff 25%, #4669f9 50%, #0056f0 75%, #0047e8 100%);
  color: white;
}

.card-report {
  margin: 10%;
  text-align: center;
}

.mat-raised-button {
  margin-top: 3%;
}

.example-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}

.input-rep {
  margin-top: 4%;
  width: 49%;
}

.calendar-rep {
  color: gray;
  text-align: left;
  width: 49%;
  margin-top: 4%;
}

.row-input .mat-form-field + .mat-form-field {
  margin-left: 2%;
}

::ng-deep .p-inputtext {
  background-color: rgba(0,0,0,.04);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  &:hover {
    border-bottom: 2px solid;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}




